{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel ="stylesheet" href= "{% static 'css/home.css' %}">
{% endblock %}
{% block content%}

              <div class = "d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column flex-xl-row flex-grow-1 flex-shrink-0 flex-wrap justify-content-around align-items-center main">

                <div onclick='location.href = "{% url 'main:buy'%}";'  class="d-flex flex-column align-items-center justify-content-start card">
                  <i class="fas fa-shopping-cart"></i>
                  <h5>Buy</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>Explore the vast range of products our platform 
                    offers to your hearts content.</p>
                </div>
                <div onclick='location.href = "{% url 'main:seller'%}";' class="d-flex flex-column align-items-center justify-content-start card">
                  <i class="fas fa-store"></i>
                  <h5>Sell</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>Use our platform to advertise your product to 
                    hundreds of users.</p>
                </div>
                <div onclick='location.href = "{% url 'main:donate'%}";'class="d-flex flex-column align-items-center justify-content-start card">
                    <i class="fas fa-donate"></i>
                  <h5>Donate</h5>
                  <hr style='margin:15px;background:#AAA;'class='break'/>
                  <p>We are partnered with multiple NGOs to allow you to 
                    give back to the community in an informed and precise manner.</p>
                </div>

{% endblock %}
